In [1]:
# UT Bootcamp - Sections 6.5.1 to 6.5.4 
import pandas as pd
import gmaps  # for heatmaps
import requests
import pprint
from config import g_key  # Import the API key.

In [2]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,East London,ZA,2021-06-02 16:55:55,-33.0153,27.9116,61.74,88,20,11.50
1,1,Mataura,NZ,2021-06-02 16:55:57,-46.1927,168.8643,40.41,97,18,3.42
2,2,Saint-Pierre,RE,2021-06-02 16:51:02,-21.3393,55.4781,74.88,80,0,12.66
3,3,Ushuaia,AR,2021-06-02 16:54:47,-54.8000,-68.3000,33.42,93,75,4.61
4,4,Chimore,BO,2021-06-02 16:56:02,-16.9833,-65.1333,84.07,54,92,4.29

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap for Max Temp
locations = city_data_df[["Lat", "Lng"]]
max_temp = city_data_df["Max Temp"]

# Handle negative max temps by using 0 instead of negative since Google heatmaps don't plot negative numbers
temps = []
for t in max_temp: 
    temps.append(max(t, 0))
# Alternate option with list comprehension: temps = [max(temp, 0) for temp in max_temp]
# or skip defining temps and just put list comprehension in weights = _ below

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)  
heat_layer= gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [10]:
# Filter the dataset to find the cities that fit the user input criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Saint-Pierre,RE,2021-06-02 16:51:02,-21.3393,55.4781,74.88,80,0,12.66
4,4,Chimore,BO,2021-06-02 16:56:02,-16.9833,-65.1333,84.07,54,92,4.29
5,5,Hithadhoo,MV,2021-06-02 16:56:03,-0.6000,73.0833,83.73,68,71,18.05
7,7,Kavieng,PG,2021-06-02 16:56:06,-2.5744,150.7967,80.82,82,96,9.71
11,11,Hinesville,US,2021-06-02 16:55:58,31.8469,-81.5959,84.16,88,75,3.44
12,12,Whitefish,US,2021-06-02 16:55:06,48.4111,-114.3376,75.11,56,23,3.31
13,13,Rikitea,PF,2021-06-02 16:56:13,-23.1203,-134.9692,72.00,60,98,18.79
16,16,Tamworth,GB,2021-06-02 16:56:18,52.6340,-1.6959,77.32,80,96,8.08
18,18,Manokwari,ID,2021-06-02 16:52:21,-0.8667,134.0833,79.36,79,93,5.99
25,25,Lata,PT,2021-06-02 16:56:33,40.1629,-8.3327,72.72,77,98,8.75

In [11]:
preferred_cities_df.count()

City_ID       209
City          209
Country       209
Date          209
Lat           209
Lng           209
Max Temp      209
Humidity      209
Cloudiness    209
Wind Speed    209
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2   Saint-Pierre      RE     74.88 -21.3393   55.4781
4        Chimore      BO     84.07 -16.9833  -65.1333
5      Hithadhoo      MV     83.73  -0.6000   73.0833
7        Kavieng      PG     80.82  -2.5744  150.7967
11    Hinesville      US     84.16  31.8469  -81.5959
12     Whitefish      US     75.11  48.4111 -114.3376
13       Rikitea      PF     72.00 -23.1203 -134.9692
16      Tamworth      GB     77.32  52.6340   -1.6959
18     Manokwari      ID     79.36  -0.8667  134.0833
25          Lata      PT     72.72  40.1629   -8.3327

In [21]:
# # Use Google API nearby search to look for hotels
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Parameters for hotel search
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude for each row.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print(f"Hotel found in {lat},{lng}")
    except (IndexError):
        print("Hotel not found... skipping")

Hotel found in -21.3393,55.4781
Hotel found in -16.9833,-65.1333
Hotel found in -0.6,73.0833
Hotel found in -2.5744,150.7967
Hotel found in 31.8469,-81.5959
Hotel found in 48.4111,-114.3376
Hotel found in -23.1203,-134.9692
Hotel found in 52.634,-1.6959
Hotel found in -0.8667,134.0833
Hotel found in 40.1629,-8.3327
Hotel found in -4.1967,152.1721
Hotel found in 42.2506,-75.833
Hotel found in 35.1333,140.3
Hotel found in 40.4272,71.7189
Hotel found in 46.3333,2.6
Hotel found in 63.8709,11.2999
Hotel found in 42.097,-79.2353
Hotel found in -24.7911,-50.0119
Hotel not found... skipping
Hotel found in -14.25,129.55
Hotel found in 57.9727,-3.978
Hotel found in 23.5,87.75
Hotel found in 11.3,106.1
Hotel found in -9.8,-139.0333
Hotel found in -0.7393,-90.3518
Hotel found in 19.7297,-155.09
Hotel found in -6.8844,112.2051
Hotel found in -3.8004,102.2655
Hotel found in 12.1791,125.5072
Hotel found in 4.8845,-1.7554
Hotel found in -20.2078,57.7625
Hotel found in 47.6666,-52.7314
Hotel found in -21.2078,-159.775
Hotel found in -14.4667,132.2667
Hotel found in -12.0667,134.2667
Hotel found in -0.1783,10.7649
Hotel found in 11.5,42.5
Hotel not found... skipping
Hotel found in 59.6553,12.5852
Hotel found in 2.3,111.8167
Hotel found in 54.7682,-101.865
Hotel not found... skipping
Hotel found in 40.973,-117.7357
Hotel found in 4.8699,-2.2405
Hotel found in -3.6333,32.1833
Hotel found in 51.6334,-111.9018
Hotel found in 41.3712,-73.414
Hotel found in 39.1582,-75.5244
Hotel found in 52.1168,-106.6345
Hotel found in -15.1961,12.1522
Hotel found in 22.0752,-159.319
Hotel found in 10.5669,72.642
Hotel found in -16.4833,-151.75
Hotel found in 20.15,92.9
Hotel found in 28.3667,129.4833
Hotel not found... skipping
Hotel found in -3.6667,152.4333
Hotel found in 51.6636,16.0845
Hotel found in -20.3428,57.7575
Hotel found in 20.4197,104.0439
Hotel found in -20.4081,57.7
Hotel found in 16.1833,-22.9167
Hotel found in 42.8,93.45
Hotel found in 6.461,-71.73
Hotel not found... skipping
Hotel found in 5.3833,-52.95
Hotel found in 14.9167,120.55
Hotel found in 55.7435,-97.8558
Hotel found in -11.0267,-68.7692
Hotel found in 57.588,-4.5382
Hotel found in 2.0371,45.3438
Hotel found in 47.2935,18.2646
Hotel found in 38.1156,-3.0848
Hotel found in -3.4167,114.85
Hotel found in 48.9167,2.3333
Hotel found in 31.61,34.7642
Hotel found in -0.9,-89.6
Hotel found in 43.7501,-81.7165
Hotel found in 14.8961,-24.4956
Hotel found in 39.4952,67.6093
Hotel found in 10.5222,7.4383
Hotel found in 6.1241,81.1185
Hotel found in 3.0707,172.7902
Hotel found in -12.486,130.9833
Hotel not found... skipping
Hotel found in 51.3813,1.3862
Hotel found in 36.3134,-82.3535
Hotel found in -0.9516,122.7875
Hotel found in 7.0419,134.2556
Hotel found in 13.3068,123.3425
Hotel found in 26.5412,-77.0636
Hotel found in 39.8333,-4.0
Hotel found in 13.2167,-59.5167
Hotel found in -10.4544,161.9205
Hotel found in 4.423,-7.3528
Hotel found in 40.7821,72.3442
Hotel found in -28.24,-48.6703
Hotel found in -9.0763,143.2092
Hotel found in -20.5167,57.5167
Hotel found in -24.4333,-56.7
Hotel found in 45.0205,-93.218
Hotel found in 41.7597,86.1469
Hotel found in 16.1307,119.7824
Hotel found in 42.9167,2.1667
Hotel found in 39.3643,-74.4229
Hotel found in 20.8947,-156.47
Hotel found in 35.9911,-106.0806
Hotel found in -33.4569,-70.6483
Hotel found in -22.9661,-42.0278
Hotel found in -8.4667,118.7167
Hotel found in 17.0151,54.0924
Hotel found in -21.3585,55.7679
Hotel not found... skipping
Hotel found in 0.5412,123.0595
Hotel found in 5.6667,73.0
Hotel found in 14.9515,-16.8129
Hotel found in 5.4112,100.3354
Hotel not found... skipping
Hotel found in -8.7597,-35.1047
Hotel found in 51.5483,3.6667
Hotel found in 33.0801,-83.2321
Hotel found in 5.9538,116.6641
Hotel found in 18.1167,83.4167
Hotel found in 34.6391,-120.4579
Hotel not found... skipping
Hotel found in -20.3297,-40.2925
Hotel found in -14.2667,50.1667
Hotel found in -13.8833,167.55
Hotel found in 47.9837,10.1853
Hotel found in 5.8833,-55.0833
Hotel found in 11.2833,-15.8333
Hotel found in 4.9825,-75.6036
Hotel found in -9.6658,-35.7353
Hotel found in -3.3333,128.9167
Hotel found in 41.2561,71.5508
Hotel not found... skipping
Hotel found in 38.2019,20.4314
Hotel found in 26.1842,127.7558
Hotel found in 20.8783,-156.6825
Hotel found in 26.4481,89.989
Hotel found in 61.5996,5.0328
Hotel found in -8.8368,13.2343
Hotel found in 4.375,-7.7169
Hotel found in 59.3556,5.2242
Hotel found in 38.3645,-98.7648
Hotel found in 16.7333,82.2167
Hotel found in 1.7427,98.7792
Hotel found in 60.1695,24.9355
Hotel found in 10.9995,122.6711
Hotel found in 21.3469,-158.0858
Hotel not found... skipping
Hotel found in 31.4638,-100.437
Hotel found in -16.7833,-151.5
Hotel found in 29.7057,118.2862
Hotel found in 37.4636,-122.4286
Hotel found in -4.3167,20.5833
Hotel found in 18.8003,110.3967
Hotel found in 22.2394,68.9678
Hotel found in 9.1924,117.8141
Hotel found in -10.6167,150.6667
Hotel found in 48.9329,-125.5528
Hotel found in 5.6592,-53.7767
Hotel found in -13.6833,48.45
Hotel found in 31.2565,32.2841
Hotel found in -2.8833,108.2667
Hotel found in 44.1628,80.0
Hotel found in 25.5198,90.2201
Hotel found in 40.8021,-124.1637
Hotel not found... skipping
Hotel found in -8.0089,-34.8553
Hotel found in 32.9947,112.5328
Hotel found in 45.9608,13.6656
Hotel found in 36.6177,-121.9166
Hotel found in -23.3156,-46.2214
Hotel found in 46.8267,-100.8896
Hotel found in 20.7,-105.2
Hotel found in 43.9098,67.2495
Hotel found in 21.7786,87.7536
Hotel found in 5.6639,-67.6236
Hotel not found... skipping
Hotel found in 27.9167,96.1667
Hotel found in 42.1584,-72.3287
Hotel found in -24.7859,-65.4117
Hotel found in 22.3082,89.7897
Hotel found in 40.2504,-76.2499
Hotel found in -28.5708,-70.7581
Hotel found in 6.8833,73.1
Hotel found in 9.538,-13.6773
Hotel found in -0.7193,8.7815
Hotel found in 46.4154,3.9054
Hotel found in -7.0167,113.8667
Hotel found in 25.2631,63.471
Hotel found in -15.4311,-74.6158
Hotel found in -16.5667,-39.5667
Hotel found in 39.8885,4.2658
Hotel found in 5.1367,-5.0242
Hotel found in -14.9783,27.0619
Hotel found in -2.3167,-78.1167
Hotel found in 51.9667,5.6667
Hotel found in -8.7623,31.1141
Hotel found in 4.8005,18.1275
Hotel found in 47.5999,-53.2648
Hotel found in 11.8675,75.3576
Hotel found in 19.385,-99.165
Hotel found in -9.6567,120.2641
Hotel found in -20.0064,57.6608
Hotel found in -8.19,114.9675
Hotel found in 34.8042,32.4083
Hotel found in -5.6667,132.75

In [22]:
hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Saint-Pierre,RE,74.88,-21.3393,55.4781,Lindsey Hôtel
4,Chimore,BO,84.07,-16.9833,-65.1333,Bichito
5,Hithadhoo,MV,83.73,-0.6000,73.0833,Scoop Guest House
7,Kavieng,PG,80.82,-2.5744,150.7967,Nusa Island Retreat
11,Hinesville,US,84.16,31.8469,-81.5959,Holiday Inn Express & Suites Hinesville East -...
12,Whitefish,US,75.11,48.4111,-114.3376,Best Western Rocky Mountain Lodge
13,Rikitea,PF,72.00,-23.1203,-134.9692,Pension Maro'i
16,Tamworth,GB,77.32,52.6340,-1.6959,Premier Inn Tamworth Central hotel
18,Manokwari,ID,79.36,-0.8667,134.0833,Swiss Belhotel Manokwari
25,Lata,PT,72.72,40.1629,-8.3327,Casa Maquia
28,Rabaul,PG,78.21,-4.1967,152.1721,Rabaul Hotel
30,Broome,US,72.84,42.2506,-75.8330,Chenango Valley State Park
31,Katsuura,JP,70.11,35.1333,140.3000,Katsuura Hotel Mikazuki
34,Komsomolskiy,UZ,83.12,40.4272,71.7189,Ikathouse
42,Montlucon,FR,71.71,46.3333,2.6000,Hotel De La Gare
45,Straumen,NO,82.35,63.8709,11.2999,Jægtvolden Fjordhotell
49,Jamestown,US,73.02,42.0970,-79.2353,Hampton Inn & Suites Jamestown
52,Castro,BR,71.69,-24.7911,-50.0119,CHACARA BAILLY
56,Madimba,TZ,74.62,-10.4000,40.3333,
60,Port Keats,AU,75.11,-14.2500,129.5500,TDC Village (Hundred Man Camp)

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [25]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))